@media screen and (max-width:400px) {
    .logo {
        float: left;
        width: 25%;
        margin-top: 18px;
    }

    .logo img {
        width: 75%;
    }
    
    .nav {
        width: 75%;
        margin-top: 20px;
        display: flex;
        justify-content:center;
    }

    .nav li {
        text-align: center;
    }

    .nav li a {
        font-size: 11px;
    }

    .home {
        background-position: center;
    }

    .home .home-content {
        margin-top: 100px;
    }

    .home .home-content .home-title {
        font-size: 48px;
        width: 100%;
        margin-bottom: 20px;
    }

    .home .home-content .home-desc {
        font-size: 18px;
        width: 90%;
        letter-spacing: 1.4px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .home .home-content .home-button {
        width: 130px;
        height: 55px;
        font-size: 18px;
    }


    .about-content .about-item {
        width: 100%;
    }

    .about-item.mg {
        margin-right: 0;
    }

    .about-item .about-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .about-item .about-desc {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .about-item .about-info {
        font-size: 16px;
        line-height: 1.3;
    }

    .about-item .about-desc-2 {
        margin-top: 35px;
        font-size: 16px;
        line-height: 1.3;
    }

    .about-item .about-info-2 {
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.3;
    }


    .services-content .services-item {
        width: 100%;
        border-radius: 8px;
        padding: 30px;
        text-align: center;
    }

    .services-item.mg {
        margin: 15px 0;
    }


    .corporation-text {
        width: 100%;
    }

    .corporation-text .corporation-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .corporation-text .corporation-desc {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .corporation-text .corporation-info {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 35px;
    }

    .corporation-list .icon {
        font-size: 18px;
        margin-right: 5px;
    }

    .corporation-list span {
        font-size: 18px;
    }

    .corporation-img {
        margin-top: 15px;
        width: 100%;
    }


    .projects-text .projects-text-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .projects-text .projects-text-desc {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .projects-text .projects-text-info {
        font-size: 16px;
        letter-spacing: 2;
        line-height: 1.3;
        margin-bottom: 30px;
    }
    
    .projects-images .projects-images-item {
        width: 48%;
        float: left;
        padding: 8px 0;
    }

    .projects-images .projects-images-item.mg {
        margin: 0;
    }

    .projects-images .projects-images-item:first-of-type ,
    .projects-images .projects-images-item:nth-of-type(3) ,
    .projects-images .projects-images-item:nth-of-type(5) {
        margin-right: 2%;
    }


    .clients {
        padding: 100px 0 0 0;
    }

    .clients-content .clients-item {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    .clients-item .icon {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .clients-item .clients-num {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .clients-item .clients-desc {
        font-size: 20px;
        width: 80%;
        margin: auto;
    }

    .clients-item:hover .icon{
        font-size: 55px;
    }
    
    .clients-item:hover .clients-num{
        font-size: 60px;
    }


    .quote {
        padding: 100px 0 0 0;
    }

    .quote-content .quote-title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .quote-content .quote-desc {
        line-height: 1.3;
        font-size: 16px;
        letter-spacing: 2;
        margin-bottom: 30px;
    }

    .quote-content .quote-btn {
        width: 120px;
        height: 45px;
        font-size: 16px;
        margin-bottom: 40px;
    }


    .footer .footer-content {
        padding: 35px 0 35px 0;
    }

    .footer .footer-title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .footer .footer-links {
        list-style: none;
        margin-bottom: 25px;
    }
    
    .footer-links li {
        margin: 0 7px;
    }
    
    .footer-links li a {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    
    .footer .copyright {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1.3px;
    }
    
}